body {
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #5fb404;
}
.quem-somos{
    background-color: grey;
    color: white
}
.margin{
        padding-bottom: 50px;
        padding-top: 10px;
}
.Parceiros{
    background-color: #4d504f;
}
.bg-footer{
    background-color: black;
    color: white
}